<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>프로필</title>
    <link rel="stylesheet" href="/css/profile.css"> 
</head>
<body>
    <div id="profile">
	  <h1>프로필</h1>
	  <div class="profile-container">
	    <div>
	      <img id="profileImage" th:src="${profileImageUrl}" alt="프로필 사진" />
	      <label for="profileUpload" class="custom-file-upload">업로드</label>
	      <input type="file" id="profileUpload" onchange="uploadProfileImage()" style="display: none;">
	    </div>
	
	    <div>
	      <h2>
	        <div>
	          <span id="username" th:text="${username}"></span> 
	          <span id="userType">일반</span>
	        </div>
	        <button id="followButton" data-username="${username}">Follow</button>
	      </h2>
	      <div>
	        <textarea id="biography" placeholder="자기소개를 입력해주세요."></textarea>
	        <button id="submitBioBtn">제출</button>
	      </div>
	      <div>
	        <button id="imageUploadButton" onclick="openImageUploadModal()">사진 업로드</button>
	      </div>
	    </div>
	  </div>
	</div>

    <div id="imageUploadModal">
	    <div>
	        <h2>사진 업로드</h2>
	        <div id="preview"></div>
	        <input type="file" id="modalImageUpload" onchange="previewFile()">
	        <select id="modalImageType">
	            <option value="cafe">카페</option>
	            <option value="popup">팝업스토어</option>
	            <!-- 기타 사진 유형 -->
	        </select>
	        <div class="button-container">
	            <button onclick="uploadImage()">업로드</button>
	            <button onclick="closeImageUploadModal()">닫기</button>
	        </div>
	    </div>
	</div>

    <div id="imageCard">
	    <img id="profileImage" src="profile.jpg" alt="Profile Image">
	    <button id="likeButton">
	        <span id="likeIcon">❤️</span>
	    </button>
	</div>
    
    <script src="/js/profile.js"></script>
    <script src="/js/biography.js"></script>
    <script src="/js/follower.js"></script>
    <script src="/js/imageUpload.js"></script>
</body>
</html>